<h1><%= @service.name%></h1>
<div class="container">
<div class="row">
  <%@contents.each do |content|%>
      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 ">
        <div class="image-wrapper">
      <%=link_to(content_path(content.id)) do%>
        <%=image_tag(content.poster,class:"cf-img-poster img-responsive")%>
      <%end%>
    </div>
      </div>
  <%end%>
</div>
</div>
