<ul class="nav navbar-nav navbar-right">

<%if user_signed_in?%>

  <li><p class="navbar-text"><%=current_user.email%></p>
  </li>
  <li><p class="navbar-text"><%=link_to( "Logout",destroy_user_session_path, method: :delete) %></p>
  </li>

<%else%>
  <li><p class="navbar-text"><%=link_to( "Already have an account?",new_user_registration_path) %></p>
  </li>
  <li><p class="navbar-text"><%=link_to( "Sign in",new_user_session_path) %></p>
  </li>
<%end%>

</ul>
